name: Tests
on:
  pull_request:
    types:
      - opened
      - edited
      - reopened
      - synchronize
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  docker-hello-world-tests:
    name: Docker Hello World Tests
    strategy:
      matrix:
        node-version: ["18.15.0"]
    runs-on: "ubuntu-latest"
    timeout-minutes: 30
    steps:
      - name: Checkout branch
        uses: actions/checkout@v3

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install Docker
        uses: docker/setup-buildx-action@v3

      - name: Git Clone Local Repo
        run: git clone https://github.com/matter-labs/local-setup

      - name: Install dependencies
        run: |
          yarn install --frozen-lockfile

      - name: Run Docker Compose Daemon
        run: cd local-setup && mkdir -p ./volumes && mkdir -p ./volumes/postgres ./volumes/geth ./volumes/zksync/env/dev ./volumes/zksync/data && touch ./volumes/zksync/env.env && docker compose up -d && cd ..

      - name: Wait until node is ready
        run: |
          while ! curl -s -X POST -d '{"jsonrpc":"2.0","method":"net_version","id":1}' -H 'Content-Type: application/json' 0.0.0.0:3050; do sleep 1; done

      - name: Print Docker logs
        run: cd local-setup && docker compose logs && cd ..

      - name: Hello World Docker tests
        run: cd hello-world-docker && docker ps && yarn test

  im-node-tests:
    name: IM Node Tests
    timeout-minutes: 30
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        node-version: ["18.15.0"]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: |
          yarn install --frozen-lockfile
          cd gated-nft/zksync && yarn install --frozen-lockfile

      - name: Custom AA tests
        run: |
          cd custom-aa && yarn test

      - name: Hello World tests
        run: |
          cd hello-world && yarn test

      - name: Gated NFT tests
        run: |
          cd gated-nft/zksync && yarn test
